<%- include('header.ejs') %>
<%- include('top.ejs') %>
<body>
  <div class="container-fluid bg-white">
    <div class="container">
      <div class="row">
        <div style="display: flex;" class="col-9 p-2">
          <div class="client-id col-4" style="display: flex;">
             <div style="margin-right: 5px;">ClientID:</div>
             <div class="clientid" style="margin-right: 50px;">
               <%= transactionID %> 
            </div>
          </div>
          <div style="display: flex;" class="col-5">
             <div style="margin-right: 5px;">fullname:</div>
             <div class="fullname">
                <%= fullname %> 
             </div>
          </div>
        </div>
         <div class="col p-2" style="display: flex; justify-content: end;">
          <button type="button" id="presetbtn" class="btn btn-outline-secondary">preset</button>
          <button type="button" id="deletebtn" class="btn btn-outline-secondary">delete</button>
         </div>
      </div>
    </div>
  </div>
  <section style="display: grid; grid-template-columns: 20% 60% 20%;  background-color: rgba(168, 9, 9, 0.103);">
    <%- include('transactionid.ejs') %>
      <div class="container-fluid" style= "border-left: 1px solid lightgray: border-right: 1px solid lightgray; background-color: whitesmoke">
        <div class="container">
          <div class="row">
            <div class="col"  style="display: flex; justify-content: center;">
              <form name="msd-form" id="msd-form" state ="new"  action="" method="post"  style="height: 600px; width: 700px; overflow-y: auto; padding: 10px;">
                <label for="">pregnancy location</label>
                <select name="pl" id="pl" class="form-control">
                  <option value="intrauterine">intrauterine</option>
                  <option value="extrauterine">extrauterine</option>
                  <option value="heterotopic">heterotopic</option>
                </select>
                 <label for="">yolk sac </label>
                 <select name="ys" id="ys" class="form-control" >
                   <option value="present">present</option>
                   <option value="absent">absent</option>
                   <option value="not yet">not yet</option>
                 </select>
                 <label for="">gsd</label>
                 <input type="number" min="10" max="29" step="1" value="10" name="gsd" id="gsd" class="form-control">
                 <label for="">gestational age</label>
                 <div class="d-flex">
                    <input type="number" value="4" max="14" step="1" min="4" name="gs" id="weeks" class="form-control mr-5" placeholder="weeks">
                    <input type="number" value="0" max="6" step="1" min="0" name="gs-d" id="days" class="form-control ml-5" placeholder="days">
                 </div>
                 <label for="">edd</label>
                 <input type="date" name="edd" id="edd" class="form-control">
                 <label for="">ovaries</label>
                 <textarea name="ovaries" id="ovaries" class="form-control" cols="30" rows="3"></textarea>
                 <label for="">adnexa</label>
                 <textarea name="adnexa" id="adnexa" cols="30" class="form-control" rows="3"></textarea>
                 <label for="">abnormal findings</label>
                 <textarea name="ab" id="ab" cols="30" rows="3" class="form-control"></textarea>
                 <label for="">impression</label>
                 <textarea name="impression" id="impression" cols="30" rows="5" class="form-control"></textarea>
                 <button type="button" class="btn btn-outline-success mt-3 d-flex" id="save">save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('preset.ejs') %>
  </section>
  <script src="/js/msd.js"></script>
  <!-- <script src="/js/transac.js"></script> -->
</body>
